:root {
  --main-bg-color: #FFFFFF;
  --important-text-color: #805959;
  --text-color: #808080;
  --other-text-color: #CCCCCC;
  --color: #FFB3B3;
}

body {
  font-family: Verdana;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

main {
  width: 60%;
  margin-left: 20%;
}

footer {
  color: var(--other-text-color);
  text-align: center;
}

h1,
h2,
h3 {
  text-decoration: underline;
  text-align: center;
  color: var(--important-text-color);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

.promo {}

.about-us {
  text-align: justify;
}

.products {
  list-style-type: circle;
}

.product-card {
  margin: 0 auto;
  background-color: var(--color);
  border-radius: 10px;
  width: 50%;
  padding: 15px;
}

.product-name {
  text-align: center;
}

.product-description {
  text-align: justify;
}

.product-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  object-fit: cover;
  margin: 0 auto;
}

.review {
  text-align: center;
  font-style: oblique;
  line-height: 1.5;
}

.review-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  object-fit: cover;
  margin: 0 auto;
}

.review-author {
  text-align: right;
}